<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.jori.swift.singleViewApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.sceneLifecycleApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.h:comments</string>
						<string>ViewController.h:imports:importCocoa</string>
						<string>ViewController.h:interface(___FILEBASENAME___ : UIViewController)</string>
						<string>ViewController.m:comments</string>
						<string>ViewController.m:imports:importHeader:ViewController.h</string>
						<string>ViewController.m:extension</string>
						<string>ViewController.m:implementation:methods:viewDidLoad(- (void\)viewDidLoad)</string>
						<string>ViewController.m:implementation:methods:viewDidLoad:super</string>
						<string>Info.plist:UIApplicationSceneManifest:UISceneStoryboardFile</string>
						<string>Base.lproj/Main.storyboard</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main.storyboard</string>
							<key>SortOrder</key>
							<integer>98</integer>
						</dict>
					</dict>
					<key>Targets</key>
					<array>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>INFOPLIST_KEY_UIMainStoryboardFile</key>
								<string>Main</string>
							</dict>
						</dict>
					</array>
				</dict>
				<key>Swift</key>
				<array>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>userInterface</key>
							<string>Storyboard</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>../</string>
							<string>UI/TableViewIndexView/IndexBarBubbleView.swift</string>
							<string>UI/EFAutoScrollLabel.swift</string>
							<string>UI/TableViewIndexView/IndexBar.swift</string>
							<string>UI/UIExtension.swift</string>
							<string>Tools/Security.swift</string>
							<string>Tools/PlistReader.swift</string>
							<string>Tools/Permission.swift</string>
							<string>Tools/Log.swift</string>
							<string>Network/NetworkDefine.swift</string>
							<string>Network/NetworkCore.swift</string>
							<string>Network/MoyaPlugins.swift</string>
							<string>Network/CYNet.swift</string>
							<string>Foundation/FoundationExtension.swift</string>
							<string>Support/___PRODUCTNAME___-Bridging-Header.h:wood</string>
							<string>Support/___PRODUCTNAME___-Bridging-Header.h:umeng</string>
							<string>Support/___PRODUCTNAME___-Bridging-Header.h</string>
							<string>Support/SDKConfig.plist</string>
							<string>SceneDelegate.swift</string>
							<string>AppDelegate.swift</string>
							<string>Application/ApplicationHandler.swift</string>
							<string>ViewController.swift</string>
							<string>Base.lproj/Main.storyboard</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>../</key>
							<dict>
								<key>Group</key>
								<array>
									<string>-delete group reference-</string>
								</array>
								<key>Path</key>
								<string>DevTools</string>
							</dict>
							<key>UI/TableViewIndexView/IndexBarBubbleView.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>UI</string>
									<string>TableViewIndexView</string>
								</array>
								<key>Path</key>
								<string>Project/UI/TableViewIndexView/IndexBarBubbleView.swift</string>
							</dict>
							<key>UI/TableViewIndexView/IndexBar.swift</key>
							<dict>
								<key>Path</key>
								<string>Project/UI/TableViewIndexView/IndexBar.swift</string>
								<key>Group</key>
								<array>
									<string>UI</string>
									<string>TableViewIndexView</string>
								</array>
							</dict>
							<key>UI/UIExtension.swift</key>
							<dict>
								<key>Group</key>
								<string>UI</string>
								<key>Path</key>
								<string>Project/UI/UIExtension.swift</string>
							</dict>
							<key>UI/EFAutoScrollLabel.swift</key>
							<dict>
								<key>Group</key>
								<string>UI</string>
								<key>Path</key>
								<string>Project/UI/EFAutoScrollLabel.swift</string>
							</dict>
							<key>Tools/Security.swift</key>
							<dict>
								<key>Group</key>
								<string>Tools</string>
								<key>Path</key>
								<string>../SwiftProjectScaffold/Tools/Security.swift</string>
							</dict>
							<key>Tools/PlistReader.swift</key>
							<dict>
								<key>Path</key>
								<string>Project/Tools/PlistReader.swift</string>
								<key>Group</key>
								<string>Tools</string>
							</dict>
							<key>Tools/Permission.swift</key>
							<dict>
								<key>Group</key>
								<string>Tools</string>
								<key>Path</key>
								<string>Project/Tools/Permission.swift</string>
							</dict>
							<key>Tools/Log.swift</key>
							<dict>
								<key>Group</key>
								<string>Tools</string>
								<key>Path</key>
								<string>Project/Tools/Log.swift</string>
							</dict>
							<key>Network/NetworkDefine.swift</key>
							<dict>
								<key>Group</key>
								<string>Network</string>
								<key>Path</key>
								<string>Project/Network/NetworkDefine.swift</string>
							</dict>
							<key>Network/NetworkCore.swift</key>
							<dict>
								<key>Group</key>
								<string>Network</string>
								<key>Path</key>
								<string>Project/Network/NetworkCore.swift</string>
							</dict>
							<key>Network/MoyaPlugins.swift</key>
							<dict>
								<key>Group</key>
								<string>Network</string>
								<key>Path</key>
								<string>Project/Network/MoyaPlugins.swift</string>
							</dict>
							<key>Network/CYNet.swift</key>
							<dict>
								<key>Group</key>
								<string>Network</string>
								<key>Path</key>
								<string>Project/Network/CYNet.swift</string>
							</dict>
							<key>Foundation/FoundationExtension.swift</key>
							<dict>
								<key>Path</key>
								<string>Project/Foundation/FoundationExtension.swift</string>
								<key>Group</key>
								<string>Foundation</string>
							</dict>
							<key>Support/___PRODUCTNAME___-Bridging-Header.h:wood</key>
							<string>#pragma mark - 调试

#import &lt;YKWoodpecker/YKWoodpecker.h&gt;</string>
							<key>Support/___PRODUCTNAME___-Bridging-Header.h:umeng</key>
							<string>#pragma mark - 统计-友盟
#import &lt;UMCommon/UMCommon.h&gt;
#import &lt;UMCommon/MobClick.h&gt;
#import &lt;UMCommonLog/UMCommonLogManager.h&gt;</string>
							<key>Support/___PRODUCTNAME___-Bridging-Header.h</key>
							<dict>
								<key>Group</key>
								<string>Support</string>
							</dict>
							<key>Support/SDKConfig.plist</key>
							<dict>
								<key>Group</key>
								<string>Support</string>
								<key>Path</key>
								<string>Project/Support/SDKConfig.plist</string>
							</dict>
							<key>Application/ApplicationHandler.swift</key>
							<dict>
								<key>Group</key>
								<string>Application</string>
								<key>Path</key>
								<string>Project/Application/ApplicationHandler.swift</string>
							</dict>
							<key>AppDelegate.swift</key>
							<dict>
								<key>Group</key>
								<string>Application</string>
								<key>Path</key>
								<string>Project/Application/AppDelegate.swift</string>
							</dict>
							<key>SceneDelegate.swift</key>
							<dict>
								<key>Group</key>
								<string>Application</string>
								<key>Path</key>
								<string>Project/Application/SceneDelegate.swift</string>
							</dict>
							<key>ViewController.swift</key>
							<dict>
								<key>Path</key>
								<string>Project/ViewController.swift</string>
							</dict>
							<key>Base.lproj/Main.storyboard</key>
							<dict>
								<key>Path</key>
								<string>Main.storyboard</string>
								<key>SortOrder</key>
								<integer>98</integer>
							</dict>
						</dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>SWIFT_OBJC_BRIDGING_HEADER</key>
									<string>___PROJECTNAME___/Support/___PROJECTNAME___-Bridging-Header.h</string>
									<key>INFOPLIST_KEY_UIMainStoryboardFile</key>
									<string>Main</string>
								</dict>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>userInterface</string>
			<key>Name</key>
			<string>Interface:</string>
			<key>Description</key>
			<string>The type of user interface.</string>
			<key>Values</key>
			<array>
				<string>Storyboard</string>
			</array>
			<key>Default</key>
			<string>Storyboard</string>
			<key>Type</key>
			<string>popup</string>
		</dict>
	</array>
	<key>Image</key>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.dt.IDEKit</string>
	</dict>
</dict>
</plist>
