<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.jori.swift.singleViewApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.appLifecycle.iOS</string>
		<string>com.apple.dt.unit.languageChoice.app.iOS</string>
		<string>com.apple.dt.unit.iosBase</string>
		<string>com.apple.dt.unit.applicationBase</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.cocoaTouchApplicationTarget</string>
			<key>SharedSettings</key>
			<dict>
				<key>INFOPLIST_FILE</key>
				<string>___PACKAGENAME___/Support/Info.plist</string>
				<key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
				<string>AppIcon</string>
				<key>ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME</key>
				<string>AccentColor</string>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<string>$(inherited) @executable_path/Frameworks</string>
				<key>TARGETED_DEVICE_FAMILY</key>
				<string>1,2</string>
				<key>INFOPLIST_KEY_UIApplicationSupportsIndirectInputEvents</key>
				<string>YES</string>
				<key>INFOPLIST_KEY_UISupportedInterfaceOrientations_iPhone</key>
				<string>UIInterfaceOrientationPortrait UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight</string>
				<key>INFOPLIST_KEY_UISupportedInterfaceOrientations_iPad</key>
				<string>UIInterfaceOrientationPortrait UIInterfaceOrientationPortraitUpsideDown UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight</string>
			</dict>
		</dict>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>appLifecycle</string>
			<key>Units</key>
			<dict>
				<key>Cocoa</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>Base.lproj/LaunchScreen.storyboard</string>
					</array>
					<key>Targets</key>
					<array>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>INFOPLIST_KEY_UILaunchStoryboardName</key>
								<string>LaunchScreen</string>
							</dict>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Swift</key>
				<array>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>userInterface</key>
							<string>Storyboard</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>../R.generated.swift</string>
							<string>../.swiftlint.yml</string>
							<string>使用说明.swift</string>
							<string>Support/Info.plist</string>
							<string>../Podfile</string>
							<string>UI/TableViewIndexView/IndexBarBubbleView.swift</string>
							<string>UI/EFAutoScrollLabel.swift</string>
							<string>UI/TableViewIndexView/IndexBar.swift</string>
							<string>UI/UIExtension.swift</string>
							<string>Tools/Security.swift</string>
							<string>Tools/PlistReader.swift</string>
							<string>Tools/Permission.swift</string>
							<string>Tools/Log.swift</string>
							<string>Network/NetworkDefine.swift</string>
							<string>Network/NetworkCore.swift</string>
							<string>Network/MoyaPlugins.swift</string>
							<string>Network/CYNet.swift</string>
							<string>Foundation/FoundationExtension.swift</string>
							<string>Support/___PRODUCTNAME___-Bridging-Header.h:wood</string>
							<string>Support/___PRODUCTNAME___-Bridging-Header.h:umeng</string>
							<string>Support/___PRODUCTNAME___-Bridging-Header.h</string>
							<string>Support/SDKConfig.plist</string>
							<string>SceneDelegate.swift</string>
							<string>AppDelegate.swift</string>
							<string>Application/ApplicationHandler.swift</string>
							<string>ViewController.swift</string>
							<string>Base.lproj/Main.storyboard</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>../R.generated.swift</key>
							<dict>
								<key>Group</key>
								<string>Tools</string>
								<key>Path</key>
								<string>../R.generated.swift</string>
							</dict>
							<key>../.swiftlint.yml</key>
							<dict>
								<key>Group</key>
								<string>-delete group reference-</string>
								<key>Path</key>
								<string>../SwiftProjectScaffold/.swiftlint.yml</string>
							</dict>
							<key>使用说明.swift</key>
							<dict>
								<key>Path</key>
								<string>../SwiftProjectScaffold/使用说明.swift</string>
							</dict>
							<key>Support/Info.plist</key>
							<dict>
								<key>Group</key>
								<string>Support</string>
								<key>Path</key>
								<string>../SwiftProjectScaffold/Support/Info.plist</string>
							</dict>
							<key>../Podfile</key>
							<dict>
								<key>Group</key>
								<string>-delete group reference-</string>
								<key>Path</key>
								<string>../Podfile</string>
							</dict>
							<key>UI/TableViewIndexView/IndexBarBubbleView.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>UI</string>
									<string>TableViewIndexView</string>
								</array>
								<key>Path</key>
								<string>../SwiftProjectScaffold/UI/TableViewIndexView/IndexBarBubbleView.swift</string>
							</dict>
							<key>UI/TableViewIndexView/IndexBar.swift</key>
							<dict>
								<key>Path</key>
								<string>../SwiftProjectScaffold/UI/TableViewIndexView/IndexBar.swift</string>
								<key>Group</key>
								<array>
									<string>UI</string>
									<string>TableViewIndexView</string>
								</array>
							</dict>
							<key>UI/UIExtension.swift</key>
							<dict>
								<key>Group</key>
								<string>UI</string>
								<key>Path</key>
								<string>../SwiftProjectScaffold/UI/UIExtension.swift</string>
							</dict>
							<key>UI/EFAutoScrollLabel.swift</key>
							<dict>
								<key>Group</key>
								<string>UI</string>
								<key>Path</key>
								<string>../SwiftProjectScaffold/UI/EFAutoScrollLabel.swift</string>
							</dict>
							<key>Tools/Security.swift</key>
							<dict>
								<key>Group</key>
								<string>Tools</string>
								<key>Path</key>
								<string>../SwiftProjectScaffold/Tools/Security.swift</string>
							</dict>
							<key>Tools/PlistReader.swift</key>
							<dict>
								<key>Path</key>
								<string>../SwiftProjectScaffold/Tools/PlistReader.swift</string>
								<key>Group</key>
								<string>Tools</string>
							</dict>
							<key>Tools/Permission.swift</key>
							<dict>
								<key>Group</key>
								<string>Tools</string>
								<key>Path</key>
								<string>../SwiftProjectScaffold/Tools/Permission.swift</string>
							</dict>
							<key>Tools/Log.swift</key>
							<dict>
								<key>Group</key>
								<string>Tools</string>
								<key>Path</key>
								<string>../SwiftProjectScaffold/Tools/Log.swift</string>
							</dict>
							<key>Network/NetworkDefine.swift</key>
							<dict>
								<key>Group</key>
								<string>Network</string>
								<key>Path</key>
								<string>../SwiftProjectScaffold/Network/NetworkDefine.swift</string>
							</dict>
							<key>Network/NetworkCore.swift</key>
							<dict>
								<key>Group</key>
								<string>Network</string>
								<key>Path</key>
								<string>../SwiftProjectScaffold/Network/NetworkCore.swift</string>
							</dict>
							<key>Network/MoyaPlugins.swift</key>
							<dict>
								<key>Group</key>
								<string>Network</string>
								<key>Path</key>
								<string>../SwiftProjectScaffold/Network/MoyaPlugins.swift</string>
							</dict>
							<key>Network/CYNet.swift</key>
							<dict>
								<key>Group</key>
								<string>Network</string>
								<key>Path</key>
								<string>../SwiftProjectScaffold/Network/CYNet.swift</string>
							</dict>
							<key>Foundation/FoundationExtension.swift</key>
							<dict>
								<key>Path</key>
								<string>../SwiftProjectScaffold/Foundation/FoundationExtension.swift</string>
								<key>Group</key>
								<string>Foundation</string>
							</dict>
							<key>Support/___PRODUCTNAME___-Bridging-Header.h:wood</key>
							<string>#pragma mark - 调试

#import &lt;YKWoodpecker/YKWoodpecker.h&gt;</string>
							<key>Support/___PRODUCTNAME___-Bridging-Header.h:umeng</key>
							<string>#pragma mark - 统计-友盟
#import &lt;UMCommon/UMCommon.h&gt;
#import &lt;UMCommon/MobClick.h&gt;
#import &lt;UMCommonLog/UMCommonLogManager.h&gt;</string>
							<key>Support/___PRODUCTNAME___-Bridging-Header.h</key>
							<dict>
								<key>Group</key>
								<string>Support</string>
							</dict>
							<key>Support/SDKConfig.plist</key>
							<dict>
								<key>Group</key>
								<string>Support</string>
								<key>Path</key>
								<string>../SwiftProjectScaffold/Support/SDKConfig.plist</string>
							</dict>
							<key>Application/ApplicationHandler.swift</key>
							<dict>
								<key>Group</key>
								<string>Application</string>
								<key>Path</key>
								<string>../SwiftProjectScaffold/Application/ApplicationHandler.swift</string>
							</dict>
							<key>AppDelegate.swift</key>
							<dict>
								<key>Group</key>
								<string>Application</string>
								<key>Path</key>
								<string>../SwiftProjectScaffold/Application/AppDelegate.swift</string>
							</dict>
							<key>SceneDelegate.swift</key>
							<dict>
								<key>Group</key>
								<string>Application</string>
								<key>Path</key>
								<string>../SwiftProjectScaffold/Application/SceneDelegate.swift</string>
							</dict>
							<key>ViewController.swift</key>
							<dict>
								<key>Path</key>
								<string>../SwiftProjectScaffold/ViewController.swift</string>
							</dict>
							<key>Base.lproj/Main.storyboard</key>
							<dict>
								<key>Path</key>
								<string>../SwiftProjectScaffold/Base.lproj/Main.storyboard</string>
								<key>SortOrder</key>
								<integer>98</integer>
							</dict>
						</dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>SWIFT_OBJC_BRIDGING_HEADER</key>
									<string>___PROJECTNAME___/Support/___PROJECTNAME___-Bridging-Header.h</string>
									<key>INFOPLIST_KEY_UIMainStoryboardFile</key>
									<string>Main</string>
								</dict>
								<key>BuildPhases</key>
								<array>
									<dict>
										<key>OutputFiles</key>
										<array>
											<string>$SRCROOT/R.generated.swift</string>
										</array>
										<key>InputFiles</key>
										<array>
											<string>$TEMP_DIR/rswift-lastrun</string>
										</array>
										<key>ShellScript</key>
										<string>if [ $ACTION != &quot;indexbuild&quot; ]; then
  &quot;$PODS_ROOT/R.swift/rswift&quot; generate &quot;$SRCROOT/R.generated.swift&quot;
fi</string>
										<key>Name</key>
										<string>R.swift</string>
										<key>ShellPath</key>
										<string>/bin/sh</string>
										<key>Class</key>
										<string>ShellScript</string>
									</dict>
									<dict>
										<key>ShellScript</key>
										<string>&quot;${PODS_ROOT}/SwiftLint/swiftlint&quot; lint --path &quot;${SRCROOT}/${PROJECT_NAME}&quot;</string>
										<key>Name</key>
										<string>SwiftLint</string>
										<key>ShellPath</key>
										<string>/bin/sh</string>
										<key>Class</key>
										<string>ShellScript</string>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>userInterface</string>
			<key>Name</key>
			<string>Interface:</string>
			<key>Description</key>
			<string>The type of user interface.</string>
			<key>Values</key>
			<array>
				<string>Storyboard</string>
			</array>
			<key>Default</key>
			<string>Storyboard</string>
			<key>Type</key>
			<string>popup</string>
		</dict>
	</array>
	<key>Image</key>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.dt.IDEKit</string>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Assets.xcassets</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Assets.xcassets</key>
		<dict>
			<key>Path</key>
			<string>../SwiftProjectScaffold/Assets.xcassets</string>
			<key>SortOrder</key>
			<integer>100</integer>
		</dict>
		<key>Base.lproj/LaunchScreen.storyboard</key>
		<dict>
			<key>Path</key>
			<string>../SwiftProjectScaffold/Base.lproj/LaunchScreen.storyboard</string>
			<key>SortOrder</key>
			<integer>101</integer>
		</dict>
	</dict>
</dict>
</plist>
